.navbar-light .navbar-nav .nav-link.navL {
    color:black;
}

.Logo{height: 3rem;
	  width:  3rem;
}
.power{color: blue;}

.start{border-radius: 100px;
	   background-color: blue;
}

.salescon{border-radius: 100px;}

.footer{margin-top: 200px;}

.sol{color: blue;}





















.lang-drop{margin-top: 40px;}
